form {
    border: 3px solid whitesmoke;
    
  }
  body{

    background-image: url("https://plus.unsplash.com/premium_photo-1680116464608-0ecc009fe5ad?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

.form {
    width: 500px;
    height: 50px;
    margin: 20px;
    margin-left: 350px;
    position: relative;
}

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: tomato;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 2px 0 17px 0;
  }
  .imgcontainer p{
    color:whitesmoke;
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 150%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  span.reg {
    
    padding-left: 130px;
  }